
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #151515;
}

#footer-main {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #1c1c1c;
}


#footer-bottom {
	padding: 2rem 0 3rem;
	font-size: 0.875rem;
	color: #8c8c8c;
}