
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe {
    position: relative;
    padding: 5rem 3rem;
    z-index: 1;

    h3 {
        font-size: 2.8125rem;
    }

    .subscribe-thumbnail {
        position: absolute;
        bottom: -1rem;
        left: 2rem;
        z-index: -1;

        img {
            max-width: 100%;
        }
    }
}

.contact-info {
    padding: 4rem;
    background-color: $white;
}

.contact-form {
    background-color: $white;
    padding: 3rem 2rem;
}