
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		line-height: 1.1;
		color: #6c3231;
	}
}

#page-top {
	.breadcrumb {
		li {
			a {
				color: #888b8c;
				font-weight: 600;
				font-size: 0.8125rem;
				text-transform: uppercase;

				&.active {
					color: $white;
				}
			}
		}
	}
}