
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	display: block;
	margin-bottom: 1rem;

	.icon-header {
		p {
			font-size: 0.875rem;
			color: #9f9f9f;
			line-height: 1;
		}
	}
}